global
    log /dev/log local0
    maxconn 65535 # Itinaas natin para sa mas mataas na load[cite: 1]
    tune.ssl.default-dh-param 2048

defaults
    log global
    mode tcp # Mas mabilis para sa VPN protocols[cite: 1]
    option tcplog
    timeout connect 5s
    timeout client 300s # Iwas timeout
    timeout server 300s # Iwas timeout

frontend vpn_front
    bind *:80 # O kung anong port ang gamit mo
    default_backend vpn_back

backend vpn_back
    mode tcp
    balance roundrobin
    # Ang Nginx ang magsisilbing target
    server nginx_server 127.0.0.1:8080 check inter 2000 rise 2 fall 5
