global
    log /dev/log local0
    maxconn 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# Gagawa tayo ng frontend para sa bawat path
frontend ft_freenet
    bind 127.0.0.1:10000
    default_backend bk_xray_10000

backend bk_xray_10000
    server xray 127.0.0.1:10000

# Magdagdag ka ng ganito para sa bawat port (10000-10011)
# Para hindi mag-conflict, dapat ang bind port ay iba sa backend port
